 <div class="form-group">
                         {{#if error}}
                        <div class="alert alert-danger" role="alert">
                        {{error}}
                        </div>
                        {{/if}}
</div>

 <div class="form-group">
                         {{#each error}}
                        <div class="alert alert-danger" role="alert">
                        {{textoerror}}
                        </div>
                        {{/each}}
</div> 