<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header mt-4 text-center">
                <h3>Cuenta Login</h3>
            </div>
            <img src="/img/notita.png" class="rounded-circle m-4  mx-auto mt-1 d-block logo" alt="Logo">
            <div class="card-body">
                    <form action="/usuarios/login" method="POST">
                             <div class="form-group">
                                <input type="text" id="email" class="form-control" name="email" placeholder="email" autofocus value="{{email}}" required>
                            </div>
                             <div class="form-group">
                                <input type="password" id="contra" class="form-control" name="contra" placeholder="contraseña" value="{{contra}}" required>
                            </div>
                         
                             <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">Logear</button>
                            </div>
                     
                    </form>
            </div>
        </div>
    </div>
</div>